[2015-09-17 17:40] MBoustani opened #1 "Server to use CherryPy instead of Flask"
We are decided to use CherryPy for server instead of Flask.
CherryPy is more stable and also as we are going to join with other Memex geo projects we should be using same technologies they use.

[2015-09-17 17:43] MBoustani commented on #1
Server is using CherryPy.

[2015-09-17 17:43] #1 closed

[2015-09-17 17:45] MBoustani opened #2 "Setup statics file in server"
In CherryPy there is a configuration for statics file such as CSS, JS and imgs.

[2015-09-17 17:51] MBoustani commented on #2
Static files can be stored in ./static/ directory.
@smadha please edit or add static files in static directory.

[2015-09-17 17:51] #2 closed

[2015-09-18 08:04] smadha opened #3 "Mock REST services"
Below APIs need to be mocked

[API signature], [Method],
[Sample Response]

1.  /upload  POST
Response code - 200

2. /status/%file_id% GET
{
"name":"File Name",
"status":"Message to be displayed to user",
"stepCount":4,
"parsedInfo":[
{
"lat":-34.6037232,
"lon":-58.3815931,
"name":"Aires Argentina",
"refCount":10,
"refContext":"Test line 4 in file uploaded",
"refUrl":"https://geo1.ggpht.com/cbk?p

[2015-09-21 18:12] MBoustani opened #4 "Be able to Upload file using CherryPy"
I am using this page:
http://tools.cherrypy.org/wiki/DirectToDiskFileUpload
to setup upload file capability.

[2015-09-21 18:17] MBoustani commented on #4
Now server will accept any file to upload and will save in /static/uploaded_file/ folder.

[2015-09-21 18:17] #4 closed

[2015-09-21 18:19] MBoustani commented on #3
https://github.com/MBoustani/GeoParser/issues/4 for upload file.

[2015-09-21 19:48] MBoustani opened #5 "Server static files"
Setup cherrypy to server static files and template HTML file.

[2015-09-21 19:51] #5 closed

[2015-09-21 20:38] smadha opened #6 "GeoJS js dependencies and basic HTML"
Basic map accessible via index page.

![screen shot 2015-09-21 at 13 37 35](https://cloud.githubusercontent.com/assets/14187172/10004320/f890b8fc-6065-11e5-91a7-dd7275c8191a.png)

[2015-09-21 20:48] #6 closed

[2015-09-22 18:37] MBoustani commented on #3
@smadha please do a git pull, I have added GET for status and search.

[2015-09-23 08:32] smadha opened #7 "Input box for file upload"
An input box on top left for file upload.

[2015-09-23 08:33] smadha opened #8 "Minimize and collate JS and CSS file"
Make one single file for JS and CSS plugin.
Minimize both app and plugin JS and CSS.

[2015-09-24 15:02] #7 closed

[2015-09-25 21:52] MBoustani opened #9 "Show list of uploaded files on front-end"
Uploaded files will appear as soon as they get uploaded, but if page get refreshed they will not be shown any more.

Solution:
Have server look up in uploaded folder and send list of files to front-end.

[2015-09-25 22:12] MBoustani opened #10 "Be able to remove uploaded files on front-end"
After each file uploaded, name of file will appear under "upload file" section.
@smadha Can you please put a remove icon by each file or check with @lawongsta about how to remove a file and maybe send a request to server to remove a file?
@smadha should we use REST URL to send the remove command to server for each file?

[2015-09-25 22:30] MBoustani opened #11 "Geoparsing for uploaded file"
Server should start the Geoparsing process as soon as file/s being uploaded to server and send the status back to front-end.

[2015-09-28 14:38] MBoustani commented on #9
@smadha I have added a function in server that returns list of uploaded files, how do you want it to return files name into front-end.

[2015-09-29 14:30] MBoustani opened #12 "Compare GeoTopicParser vs Geograpy + GeoPy"
Here we are going to compare GeoTopicParser with Geograpy combined with GeoPy ruing over same text document.
@smadha can you please take over GeoTopicParser [1] and print the result here.
I am going to use Geograpy + GeoPy over same text and print the result here [2] [3]

[1]: https://wiki.apache.org/tika/GeoTopicParser
[2]: https://github.com/ushahidi/geograpy
[3]: https://github.com/geopy/geopy

[2015-09-29 16:56] smadha commented on #12
5c0024-25.pdf:

Content-Length: 5424
Content-Type: application/geotopic
Geographic_LATITUDE: 52.00007
Geographic_LONGITUDE: -106.1679
**Geographic_NAME:
Optional_LATITUDE1: 16.10667
Optional_LONGITUDE1: -93.34028
Optional_NAME1: Australia**
X-Parsed-By: org.apache.tika.parser.DefaultParser
X-Parsed-By: org.apache.tika.parser.geo.topic.GeoParser
resourceName: 5c0024-25.geot

_NAME1 says Australia b

[2015-09-29 17:02] smadha commented on #12
TAP1500-Active-Probe-Datasheet-6.pdf

Content-Length: 6443
Content-Type: application/geotopic
Geographic_LATITUDE: -31.3096
Geographic_LONGITUDE: 18.357
Geographic_NAME: South Africa
**Optional_LATITUDE1: 33.52188**
Optional_LATITUDE10: 16.43083
Optional_LATITUDE11: -30.77313
Optional_LATITUDE12: 24.45697
Optional_LATITUDE13: -37.1525
**Optional_LATITUDE14: 24.48361**
**Optional_LATITUDE15: 58.575

[2015-09-29 18:49] smadha commented on #12
Content-Length: 164
Content-Type: application/geotopic
**Geographic_LATITUDE: -34.96862
Geographic_LONGITUDE: 139.18517
Geographic_NAME: Phoenix**
X-Parsed-By: org.apache.tika.parser.DefaultParser
X-Parsed-By: org.apache.tika.parser.geo.topic.GeoParser
resourceName: f0034223fe94a260ae43c32764e81358 EnlargeImageoid=32732460 image=.geot

_Location reported: Phoenix but coordinates point Australia_

[2015-10-05 17:44] MBoustani opened #13 "Replacing Girder with current server"
We have decided to replace the current CherryPy server with Girder (it is using CherryPy as server by itself)

[2015-10-05 17:48] MBoustani opened #14 "Upload file to server using Girder"
As we are replacing current CherryPy serve to Girder, we need to define a REST URL to POST uploaded file to Girder Filesystem

[2015-10-05 17:48] MBoustani commented on #13
Upload files to server using Girder https://github.com/MBoustani/GeoParser/issues/14

[2015-10-07 17:42] MBoustani opened #15 "Have Girder login when the page load"
When the GeoParser app loads, have Girder to login to be able to use Girder.
Username: girder
Password: girder

Base 64 encode: Z2lyZGVyOmdpcmRlcg==

[2015-10-07 17:48] #15 closed

[2015-10-07 17:55] danlamanna commented on #14
Note, if you're going to be using girder-client - a similar example of this exists [here](https://github.com/Kitware/minerva/blob/7d6cc432a2226de7277b622382cd0d4687e102cd/analyses/NEX/geo_js_contour/contour.py#L86-L91), and those methods are well documented [here](http://girder.readthedocs.org/en/latest/python-client.html#girder_client.GirderClient.addMetadataToFolder).

[2015-10-07 18:00] chrismattmann commented on #14
Thanks dan

[2015-10-07 18:42] MBoustani opened #16 "Girder create Collection and Folder to Upload file"
After the Front-end send files to Server, Girder should create Collection and Folder if they are not already created.

[2015-10-07 18:43] MBoustani commented on #14
Thanks Dan.
I created a separate Issue (https://github.com/MBoustani/GeoParser/issues/16) for it.

[2015-10-12 00:27] smadha opened #17 "Top header and nav bar with icons"
-Add a black bar with heading on top of page
-Use Bootstrap icons and create a navigation switch
-Remove temp images used

[2015-10-12 00:30] smadha opened #18 "Form for adding index"
![screen shot 2015-10-11 at 17 29 33](https://cloud.githubusercontent.com/assets/14187172/10420056/c192c4fc-703d-11e5-8961-0dadfc70673f.png)

[2015-10-12 00:31] smadha opened #19 "Form for searching index"
![screen shot 2015-10-11 at 17 29 45](https://cloud.githubusercontent.com/assets/14187172/10420061/d8deeece-703d-11e5-8210-786f956eb538.png)

[2015-10-12 01:08] #17 closed

[2015-10-12 02:43] smadha commented on #17
@lawongsta Can you review please?

![screen shot 2015-10-11 at 19 42 07](https://cloud.githubusercontent.com/assets/14187172/10420797/3d821e70-7050-11e5-9df5-ee3ae897f608.png)

[2015-10-12 03:12] smadha commented on #19
@lawongsta Can you review please?
I modified some design as per http://getbootstrap.com/components/#input-groups. Let me know if it does not fits.

![screen shot 2015-10-11 at 20 47 05](https://cloud.githubusercontent.com/assets/14187172/10421243/4b4db9ca-7059-11e5-8b54-3929d8d8990a.png)

[2015-10-12 03:50] #19 closed

[2015-10-12 05:39] smadha commented on #18
@lawongsta Review please.

![screen shot 2015-10-11 at 22 39 06](https://cloud.githubusercontent.com/assets/14187172/10421996/ec9a4492-7068-11e5-8e67-ec12517a760a.png)

[2015-10-12 05:44] #18 closed

[2015-10-12 23:37] MBoustani commented on #16
To create collection as server starts:
https://github.com/MBoustani/GeoParser/commit/ae991c5cf42ab25ae1d171ceebb55fa1131a495c

[2015-10-12 23:38] MBoustani commented on #16
To create folder for uploaded files with in already created collection as server starts:
https://github.com/MBoustani/GeoParser/commit/1ac0692c2ed73b3dac7fcb3a7e1c1fc3defe6289

[2015-10-12 23:38] MBoustani commented on #16
Next is front-end create item and put the uploaded file in item.

[2015-10-12 23:38] #16 closed

[2015-10-12 23:41] MBoustani opened #22 "Front-end create item for each file within existing folder and upload file in that item"
We have already made collection and a folder called "uploaded_files" within collection.
As user upload a file, client can create and item with in "uploaded_files" using Girder REST API.

@smadha please review Grider docs REST API to see how you can create item with in folder.

[2015-10-13 03:58] MBoustani opened #23 "Use Solr instance to store geoparsed data"
Using Solr for storing and retrieving data from.
One collection called "Uploaded_Files" will store all geoparsed uploaded files.
Schema could be something close to:
file_name = <file_name>
extracted_text = <full text>
location_names = [list of locations name]
lat/lon = [list of location dictionary(key: location name, value: lat/long)]

**This schema may change as we learn more about Solr Spatial q

[2015-10-13 04:09] MBoustani commented on #16
@danlamanna How can I use Girder API to get a list of existing folders in one collection?

[2015-10-13 19:08] MBoustani opened #24 "GeoParser plugin for Grider"
Geoparser plugin for girder can have multiple jobs running using Girder.
Each job can be called using REST URL and will return the results as JSON.

[2015-10-13 19:35] MBoustani commented on #23
Solr can be start/stop by:
`Solr/solr-5.3.1/bin/solr start`
and
`Solr/solr-5.3.1/bin/solr stop`

Solr will run by default on:
http://localhost:8983/

[2015-10-14 19:43] MBoustani commented on #24
How to extract text:
http://0.0.0.0:8081/api/v1/geoparser_jobs/extract_text?file_name= file path goes here

[2015-10-16 06:33] smadha commented on #22
Decided to use below set of APIs to upload the files:
1. GET folder ID - /api/v1/./folder?parentType=collection&text=uploaded_files
2. POST new Item - /api/v1/./item?folderId=<from step 1>&name=<file_name>&description=<file_name>
3. POST new file - /api/v1/./file?parent

[2015-10-21 20:41] MBoustani commented on #23
Solr it setup and will store information such file name, location name and geo-points.

[2015-10-21 20:41] #23 closed

[2015-10-23 16:27] MBoustani opened #25 "Merging CherryPy webserver with Girder"
GeoParser at this stage is using two servers as backend.
1- CherryPy as web server
2- Grider for file system and running jobs

Beside running two servers at same time could increase the chance of application failure there is problem if calling Girder on different port by CherryPy in different port (cross-domain issue), therefore these two can be merged to one and have Girder take care of everythin

[2015-10-24 00:04] smadha opened #26 "Expose CustomAppRoot in GeoParser's Girder plugin"
Adding **exposed = True** as per https://github.com/Kitware/minerva/blob/master/server/loader.py

[2015-10-24 03:38] smadha commented on #26
https://github.com/MBoustani/GeoParser/commit/c5c78ebf60dd78a38e8f9ca66ca8e036560107a4?diff=unified

[2015-10-24 03:38] #26 closed

[2015-10-24 07:58] smadha opened #27 "Remove index.html caching from CustomAppRoot of GeoParser"
As of now index.html is called once and stored as template object. To reflect any change in index.html we had to restart server.

[2015-10-24 08:00] #27 closed

[2015-10-24 08:06] smadha commented on #25
Steps to merge(Till today, might be simplified later)
1. Create sym link to https://github.com/MBoustani/GeoParser/tree/master/plugin/geoparser_plugin in girder installation -> /path/to/installation/python2.7/site-packages/girder/plugins/.
2. Create sym link to  GeoParser/static/\* content in /path/to/installation/python2.7/site-packages/girder/clients/web/static
3. Enable GeoParser plugin from Gi

[2015-10-24 08:15] smadha commented on #27
@MBoustani Any concerns?

[2015-10-24 11:12] smadha commented on #25
Need to add an asset store to start uploading file:
https://github.com/girder/girder/issues/67

[2015-10-24 11:14] smadha commented on #22
This also fixes : https://github.com/MBoustani/GeoParser/issues/14

[2015-10-24 11:15] smadha commented on #14
File upload API of girder is directly called from front end now. Related issue https://github.com/MBoustani/GeoParser/issues/22

[2015-10-24 11:18] smadha commented on #22
1. Setup Girder using admin girder:girder
2. Have to create a asset store in Girder for files to be uploaded
   https://github.com/girder/girder/issues/67
3. Follow https://github.com/MBoustani/GeoParser/issues/25 to setup static files

[2015-10-24 11:22] #22 closed

[2015-10-28 06:18] smadha opened #29 "Correcting x and y co-ordinates in views.py"

[2015-10-28 06:19] #29 closed

[2015-10-28 09:06] smadha opened #30 "Use new basemap and assign file with different color markers"

[2015-10-28 09:10] #30 closed

[2015-10-28 22:37] MBoustani commented on #24
Server changed to Django

[2015-10-28 22:37] #24 closed

[2015-10-28 22:39] MBoustani commented on #14
Server changed to Django. Going to open new issue for upload file using Django.

[2015-10-28 22:39] #14 closed

[2015-10-28 22:39] MBoustani commented on #13
Server changes to Django

[2015-10-28 22:39] #13 closed

[2015-10-28 22:40] MBoustani commented on #25
Server changed to Django

[2015-10-28 22:40] #25 closed

[2015-10-28 22:40] MBoustani commented on #8
Django static file is taking care of that.

[2015-10-28 22:40] #8 closed

[2015-10-28 22:41] MBoustani commented on #11
app.js it now taking care of this.
It starts geoprocesing as soon as any file uploaded.

[2015-10-28 22:41] #11 closed

[2015-10-29 00:25] MBoustani opened #31 "Django upload file is not working"
need to fix the issue with not being able to upload files using Django

[2015-10-29 00:26] MBoustani opened #32 "Left side menu should be able to collapse"
We need to hide the last side menu when the points are in map to be able to view map in full screen.
Now the menu covers 1/4 of screen.

[2015-10-29 00:28] MBoustani opened #33 "Issue with indexing extracted text from Tika to Solr"
Some text return from Tika has some characters that cannot be indexed to Solr.

[2015-10-29 00:29] MBoustani opened #34 "Progress bar for uploaded file"
Progress bar should show the status of file being uploaded as well as file being geoparsed with status text underneath it.

[2015-10-29 00:31] MBoustani opened #35 "Scroll or collapse files in menu"
Each file in menu will show results underneath, if the result is long it goes off screen.
Each file/result should be collapsable as well as be able to scroll up and down

[2015-10-29 01:08] smadha opened #36 "Truncating Big file names on UI"

[2015-10-29 06:39] smadha commented on #8
@MBoustani Is Django static file minimizing js,css and aggregating all js/css into one js/css file?

[2015-10-29 06:41] smadha opened #37 "Put the color next to the document name in the upper left."

[2015-11-04 01:02] MBoustani commented on #31
Worked

[2015-11-04 01:02] #31 closed

[2015-11-04 01:04] MBoustani commented on #9
call:
`http://localhost:8000/list_of_uploaded_files`
to receive list of uploaded files

[2015-11-09 12:14] smadha opened #38 "Server should return unique set of locations"
For example 5989-9131EN.pdf returns many location twice thrice

Quick
Quick
Quick
Data
Data
U.S.

[2015-11-09 12:20] #9 closed

[2015-11-09 19:47] MBoustani opened #39 "Delete button to remove uploaded files"
Delete button in front of each uploaded file should remove file from server and Solr.

[2015-11-10 00:24] smadha commented on #39
Related to #10

[2015-11-10 06:09] #32 closed

[2015-11-10 07:20] #35 closed

[2015-11-14 10:38] smadha commented on #37
![screen shot 2015-11-14 at 02 37 28](https://cloud.githubusercontent.com/assets/14187172/11163123/b904365e-8a78-11e5-912a-acbead754552.png)

@lawongsta Can you please review?

[2015-11-15 09:20] #36 closed

[2015-11-15 09:29] smadha commented on #33
I also faced it sometime back. I was able to fix it by using " -T  or --text-main     Output plain text content (main content only) " on CLI. Might be the same issue

[2015-11-16 23:34] MBoustani opened #40 "Support Crawled indexed data"
Usually crawled data are being indexed to either Solr or Elasticsearch.
GeoParser should be able to get the URL to either of these to indexing machines and domain name, scan whole indexes and geoparse them.
The result (location name and point) will be stored in Solr internally along side with path to crawled data.

[2015-11-16 23:39] MBoustani opened #41 "Update menu for crawled data input"
@smadha Please update the menu as below:
<img width="450" alt="screen shot 2015-11-16 at 3 33 17 pm" src="https://cloud.githubusercontent.com/assets/5606458/11198243/2c363658-8c78-11e5-909a-9c3b41ce322c.png">

[2015-11-18 19:23] MBoustani opened #42 "updated return_points url"
@smadha I have update the "return_points" url to work with both uploaded files and crawled data.
Now you can call return_points to get point from both.
However, you need to update the code you have now that called return_points, here is the update:

For uploaded files: http://localhost:8000/return_points/<file_name>/uploaded_files
Example: http://localhost:8000/return_points/5c0024-25.pdf/uploaded

[2015-11-18 20:12] smadha commented on #42
@MBoustani  for crawled data shouldn't it be just domain name?
Example: http://localhost:8000/return_points/domain

[2015-11-18 21:28] MBoustani commented on #42
@smadha for now lets return point based on both domain and solr_ulr, because just based on domain may return a lot of point and hard to show, so go with this format:

For crawled data: http://localhost:8000/return_points//
Example: http://localhost:8000/return_points/http://crawl.dyndns.org/solr/domain

[2015-11-22 02:48] smadha commented on #41
![screen shot 2015-11-21 at 18 48 20](https://cloud.githubusercontent.com/assets/14187172/11321770/7947ff10-9080-11e5-86d6-f79ec2e4067b.png)

@lawongsta Looks fine?

[2015-11-22 02:53] smadha commented on #40
@MBoustani should we handle use case like user adding different indexes on same domain name?

[2015-11-22 02:58] #37 closed

[2015-11-22 10:07] smadha commented on #42
@MBoustani @lawongsta - I suggest we should discuss flow for showing indexed data on UI. As of now I have used search index box to visualize indexed data using below steps.

Save Index -
1. Index URL - http://crawl.dyndns.org/solr/materials_research_v2
2. Domain - materials_research

Search Index
1.   Fill text box with - http://crawl.dyndns.org/solr/materials_research_v2/materials_research
2.   C

[2015-11-22 10:17] smadha opened #43 "Replace geograpy + geopy with GeoTopicParser"

[2015-11-22 17:29] chrismattmann commented on #43
+1 this is a requirement @MBoustani and @smadha

[2015-11-27 03:09] #41 closed

[2015-12-05 00:45] MBoustani opened #44 "Change map engine to OpenLayer"
Pleas change the map engine from GeoJS to OpenLayer.

[2015-12-05 00:47] MBoustani opened #45 "Show list of indexed geoparsed under "save" button"
After user types domain name and indexed URL put the result under save button that user can come back and on/off point on map.

[2015-12-05 11:33] #42 closed

[2015-12-05 11:36] smadha commented on #45
To clarify this will need new APIs to fetch list of available domains and list of indexed URLs. I will keep this issue updated on APIs status.

[2015-12-07 19:57] MBoustani commented on #45
@smadha you can call "list_of_domains" to get the list of domains if exists.

Example: `http://localhost:8000/list_of_domains`

[2015-12-08 17:47] smadha commented on #45
@MBoustani Thanks! I will use it. Is there a separate API for getting geotagged index under that domain?

[2015-12-08 17:53] MBoustani commented on #45
@smadha you mean to get the crawled URLs under each domain?
Lets just list domains for now and have checkbox beside it for toggling on/off points on map.

[2015-12-10 18:48] MBoustani commented on #45
@smadha calling `http://localhost:8000/list_of_domains` returns:
`{u'mr': [u'http://crawl.dyndns.org/solr/materials_research_v2']}`
"mr" is domain name with list of all urls under domain name.

[2015-12-12 04:24] #45 closed

[2015-12-14 06:09] MBoustani commented on #45
You did commit to master branch and not the new one I created.
But now I have moved using_geotopicparser to master and master to using_geograpy_geopy.
So can you please git pull fresh and commit changes of #45 again on new master

Thanks
Mazi

[2015-12-15 18:11] smadha commented on #45
Done!

[2016-01-05 12:21] #44 closed

[2016-01-05 14:11] MBoustani commented on #44
@smadha great work.

[2016-01-26 06:00] smadha commented on #43
This is now done

[2016-01-26 06:00] #43 closed

[2016-02-13 20:51] smadha opened #46 "Add favicon"
@lawongsta Any ideas?

[2016-02-15 09:49] smadha opened #47 "Removing OL clustering"

[2016-02-20 04:17] smadha opened #48 "Need to modify solr schema"
As we are indexing millions of records I can see lot of issues with solr.

We initially did lot of handholding editing data types and using encoding but it's now constantly failing with  OutOfMemoryError. I have tried increasing mem upto 1.5 gigs but it only gives us some extra time.

At this moment I am trying to create a new schema which addresses below limitations
- Instead of one single huge d

[2016-02-20 04:24] smadha commented on #48
New Branch - "new_solr_schema"

[2016-02-25 09:24] smadha commented on #48
I have created a new admin core which will map input index to local core. Below is a example

[code]
- unique core in geoparser solr instance for every index. _In example test_1,test_2_
- one document in geoparser solr core for each document in index. _Core test_1 will have as many docs as index http://host/solr/core1_
- one domain can cover multiple cores. core syntax will be -> domain_[id]. _Dom

[2016-02-26 00:08] #3 closed

[2016-02-26 07:27] smadha commented on #48
Fixed in https://github.com/MBoustani/GeoParser/pull/49
Branch new_solr_schema  merged to master

[2016-02-26 07:27] #48 closed

[2016-02-26 07:33] smadha opened #50 "Generate Khooshe tiles in a seperate thread"
Fetching all the coordinates from solr and transforming them to csv is taking lot of time.
This can be done asynchronously to save time of main thread.

[2016-02-27 00:32] smadha commented on #50
Generating csv from solr instance is taking too long. It took hours to process 2.3 million points. We need to do things incrementally so we don't repeat processing.

@chrismattmann also suggested the same.

Thanks

[2016-03-02 06:21] #50 closed

[2016-03-02 06:23] smadha opened #51 "Create a retry loop while querying index"
https://github.com/MBoustani/GeoParser/blob/master/geoparser_app/views.py#L261

[2016-03-03 03:35] smadha commented on #51
Error trace:

[code]

[2016-03-03 05:12] #12 closed

[2016-03-03 05:30] smadha opened #52 "Show more meta data on popups and link back to solr doc"
Need to show more data on popups to analyze individual bubble.

- "title" : "Title of doc fetched as configured",
- "descr" : "Short description fetched as per configuration"
- "url" : "Link to html/image"
- "solr_url" : "Link to solr_doc"

[2016-03-08 08:07] smadha opened #53 "Remove new line characters before processing file text"
simplify text like we do for indexed data before indexing file text

[2016-03-09 19:30] smadha opened #54 "Make installation easier"
1. Commit l-g-g jar from maven central. https://oss.sonatype.org/content/groups/public/edu/usc/ir/lucene-geo-gazetteer/0.2/lucene-geo-gazetteer-0.2-jar-with-dependencies.jar
2. Commit tika-server jar from mirror. http://www-us.apache.org/dist/tika/tika-server-1.12.jar

Start solr,l-g-g,tika geotopic server through `manage.py`

@MBoustani @chrismattmann any thoughts on this?

[2016-03-09 21:00] #40 closed

[2016-03-18 01:47] smadha commented on #52
![screen shot 2016-03-17 at 18 46 42](https://cloud.githubusercontent.com/assets/14187172/13866254/ab673046-ec70-11e5-98ae-62f3bdc607ff.png)

[2016-03-18 02:52] chrismattmann commented on #52
LOVE

[2016-03-18 02:53] chrismattmann commented on #52
@smadha

[2016-03-25 03:55] antrromet opened #55 "Create a pop up in GeoParser that displays the metadata record. FIXED - Unable to see the clusters using existing Solr Index"
Hey @smadha

So I had a couple of questions.
1. I have already run the [GeoTopicParser](https://wiki.apache.org/tika/GeoTopicParser) on all my files that are indexed into my Solr. I have indexed the 'Geographic_LONGITUDE', 'Geographic_NAME', 'Geographic_LATITUDE' keys returned from the GeoTopicParser into my index, so do I still need to click on the `Geoparse` button?
2. I did follow the steps giv

[2016-03-25 04:02] smadha commented on #55
Please see the documentation for installation on main page. Geoparser require a standalone solr server. By default it runs at 8983 but you can change it in [config.txt](https://github.com/MBoustani/GeoParser/blob/master/config.txt) [L7](https://github.com/MBoustani/GeoParser/blob/master/config.txt#L7) , [L8](https://github.com/MBoustani/GeoParser/blob/master/config.txt#L8.)

Your solr index would

[2016-03-25 04:07] antrromet commented on #55
@smadha  Ah ok. Does that mean I run my local Solr server on say port `8984` and then run the Geoparser solr at say port `8983` (default as given in the config.txt). And then as an input to GeoParser I need to give the `Solr 8984`. Then it will store all the parsed data into `Solr 8983`. Is my understanding correct?

[2016-03-25 04:10] smadha commented on #55
Also though you already ran GeoTopicParser this wont affect working of GeoParser and it will redo the same thing again.

[Khooshe](https://github.com/MBoustani/Khooshe) is a standalone application by itself. If you want you can integrate your results separately in Khooshe. You just need to follow structure of https://github.com/MBoustani/Khooshe/blob/master/sample_points/sample_points.csv

[2016-03-25 04:11] smadha commented on #55
Yup - your second comment is correct.

[2016-03-25 04:12] antrromet commented on #55
Awesome...Understood! Thanks for the prompt reply. I have already worked with Khooshe and yes I know its a standalone application. I saw that you recently integrated the same into GeoParser.

I will try to run Geoparser asap and return here with the status.

[2016-03-25 04:17] smadha commented on #55
Thanks Antriksh :)

[2016-03-25 04:26] chrismattmann commented on #55
good job guys

[2016-03-25 17:55] antrromet commented on #55
Hey @smadha I was successfully able to Geoparse my solr index. Thanks for your help! :)
<img width="1280" alt="screen shot 2016-03-25 at 10 54 31 am" src="https://cloud.githubusercontent.com/assets/1651551/14050290/155a5ac0-f278-11e5-97ac-f2e4c06857e2.png">

[2016-03-25 18:59] smadha commented on #55
Thanks @antrromet . Did you face any new hiccups during the process?

Also I see UI broken (tabs not in same line). Had this been always the case for you?

[2016-03-25 19:02] antrromet commented on #55
No there weren't any hiccups. Yes the tabs thing have always been like that.

[2016-03-25 19:58] antrromet commented on #55
@chrismattmann Professor, in the assignment,

Is this what you are looking for?
<img width="1280" alt="screen shot 2016-03-25 at 12 52 40 pm" src="https://cloud.githubusercontent.com/assets/1651551/14052682/3efe9b28-f289-11e5-8cf1-16c5660fdfa7.png">

[2016-03-25 20:00] antrromet commented on #55
@smadha I don't think the search functionality is working. I can see the clusters on the map as shown in above screenshots. But when I search for some location name, or for `Nasa` (you can see there is a doc in above screenshot) then it does nothing.

[2016-03-25 22:38] smadha commented on #55
Thanks for the feedback. I fixed UI issue as well, you can pull.

Yup, search is not there yet. It's coming soon (Let me know if you are interested working on it, I will love to work along with you)

Regarding metadata - it looks very cool. Can you please raise a PR?
This is what we thought about displaying meta data -
1. Add one more input field under "Show more options". This will take a CSV of

[2016-03-25 22:41] smadha commented on #55
Also this is a prior issue regarding metadata

https://github.com/MBoustani/GeoParser/issues/52

[2016-03-25 23:23] antrromet commented on #55
@smadha  I understand the requirement for metadata. Lemme work on that and hopefully I should have some results for you soon!

[2016-03-25 23:54] smadha commented on #55
Thanks :)

We can collaborate if need be.

[2016-03-29 22:58] nithinkrishna opened #57 "Elastic search integration"
I have a set of elastic search documents with lat/long information.

What is the best strategy to connect to elastic search and get the UI working?

[2016-03-30 03:05] MBoustani commented on #57
@nithinkrishna current version of GeoParser does not support ES, do you have your data in Solr by any chance?

[2016-03-30 04:31] adityardesai opened #58 "Indexed Data is not visible on Map"
Hi Team

We are using the GeoParser to visualize the location related details on map UI. Here is the setup and procedure we are following

1. Using Apache SOLR 4.10 as independent indexing engine under /home/user-name/src/solr
2. I have my Tika, Lucene Gazzetter and Geo parser installed in /home/user-name/src in a respective folders.
3. I have started tika server, lucene server and Django in indiv

[2016-03-30 06:23] aalavandhan commented on #57
No. I would like to add the elastic search integration. How would I go about doing this?

[2016-03-30 07:56] jung-jung-yeh opened #59 "Loading Solr index to GeoParser"
We are trying to pass an indexed data to GeoParser through the GeoParser webpage,

However, we got the following errors from server log

[30/Mar/2016 07:53:37] "GET /return_points_khooshe/http://25.150.29.198:8984/solr/ HTTP/1.1" 500 13158
Internal Server Error: /return_points_khooshe/http://25.150.29.198:8984/solr/
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/

[2016-03-30 08:15] smadha commented on #57
Hi @nithinkrishna ,
1. Include check for elastic search in this line. [#L257](https://github.com/MBoustani/GeoParser/blob/eb4017d090a43e788bfb1832103c718fe84490fc/geoparser_app/views.py#L257)
2. Create elastic search queries similar to solr in below 2 lines.
   - This will be for getting total number of docs in your ES index  [#L274](https://github.com/MBoustani/GeoParser/blob/eb4017d090a43e788bfb

[2016-03-30 08:40] smadha commented on #59
Hi @jung-jung-yeh ,
Can you please tell if there is geo parsed data stored at `http://localhost:8983/solr/#/` with core as `test1_*` \* should be 1 ??

Also you might want to debug at `geoparser_app/solr.py, line 300` to see what is getting returned from `requests.get(url, headers=headers)`

Thanks

[2016-03-30 08:50] smadha commented on #58
I see below stack trace which tells me that GeoParser is pointing to solr at 8984 which is same as index you are trying to geotag. Have you changed config.txt?

`http://localhost:8984/solr/admin/cores?action=CREATE&name=Delhi_1&instanceDir=Delhi_1 ERROR: Error CREATEing SolrCore 'Delhi_1': Unable to create core [Delhi_1] ...`

Please take a look at #59 may be both of you have same issue.

@jung-ju

[2016-03-30 20:36] MBoustani commented on #55
@antrromet and @smadha I like the idea of letting user to select what Solr fields to show on pop-ups but i think that would happen after everything geoparsed. Before user click "View" to see the points, we can have a button to shows a modal page with all the Solr fields as checkbox, user can select/unselect fields to see on pop-ups. So my default we can have URL to Solr or some small number of fie

[2016-03-30 23:07] jung-jung-yeh commented on #59
Hi Madhav,

 We tried again with the wiki page https://github.com/MBoustani/GeoParser/wiki/Steps-for-geoparsing-a-Index, with our newly indexed data.
we checked the response is

[30/Mar/2016 23:02:32] "GET /return_points_khooshe/http://25.150.29.198:8985/solr/solr/test_domain HTTP/1.1" 500 12821
{"responseHeader":{"status":400,"QTime":1},"error":{"msg":"Exception writing document id test_domain to

[2016-03-31 00:43] jung-jung-yeh commented on #58
No, we have different issues, we run three version of solr in different ports, and it seems memex GeoParser got the wrong solr in when doing solr commands, from my understanding, memex will use 8989 port by default, but when i print the different parameters in solr_admin.py, it access port 8984 to access admin and updated_files domain, and it results in my failure to load an index from web UI.

We

[2016-03-31 01:58] smadha commented on #55
@MBoustani It makes sense to me. Sometime back @chrismattmann suggested to use luke handler to get list of all solr fields. Also I found we can use this query- 'select?q=_:_&wt=csv&rows=0&facet' to get a list of solr fields.

I think we need to store a list of solr fields for every solr index we geotag in admin core. We can use stored values to default on modal page. I will create an API to get/se

[2016-03-31 02:17] smadha commented on #59
Ok so I didn't noticed that you deployed on remote machine.
- If you open below URL in separate window you will see the issue. This is the API  geoparser calls from front end.
  `http://25.150.29.198/query_crawled_index/http://25.150.29.198:8985/solr/solr/test_domain/user/pass`
- Your core name is "solr"? Can you try opening below URL using curl command from machine you have deployed. This will en

[2016-03-31 02:20] smadha commented on #58
@jung-jung-yeh Solr port and Solr URL used to store results of geo parsing are configured at two places in config.txt [L8](https://github.com/MBoustani/GeoParser/blob/master/config.txt#L8) [L7](https://github.com/MBoustani/GeoParser/blob/master/config.txt#L7)

Can you see if you have different ports here?

[2016-03-31 02:21] smadha commented on #58
@adityardesai issues are now resolved.

[2016-03-31 02:40] chrismattmann commented on #55
We shouldn't ask the user each time what fields to show it should be in an easily changeable configure file

[2016-03-31 02:49] adityardesai commented on #58
Hello

The issues is now resolved. The steps provided in wiki are really helpful, especially running tika server.  Apache Tika is very much required here and I was not using it correctly on the given port.

Thanks @smadha for your inputs.
![1](https://cloud.githubusercontent.com/assets/1384924/14164029/8b93c442-f6b0-11e5-8dc9-aefeea321beb.png)

Closing this issue.

[2016-03-31 02:49] #58 closed

[2016-03-31 03:00] #59 closed

[2016-03-31 04:38] jung-jung-yeh commented on #59
we finally loaded the data and see the visualization! thanks for the help! the explanation is very nice

[2016-03-31 16:18] antrromet commented on #55
@MBoustani @smadha Agreed. I think the best would be displaying a modal with checkboxes of all the available solr fields. If we follow the configuration file method, then the user would have to change the configuration file, and then load it in the website. The checkboxes would be easier for the user to change.

[2016-03-31 17:19] smadha commented on #55
@chrismattmann - well the idea was to make field selection a mandatory step in the flow. So that user can always control what it sees. But I agree that a alert after pressing "View" can become irritating for some users.

What if we introduce a new button on action panel for updating popup content? This button will open a modal to select what Solr fields to show on pop-ups. Thoughts? @MBoustani
Thi

[2016-03-31 20:43] MBoustani commented on #55
@smadha that is exactly what I had in mind, a new button to show modals with all solr fields and user can check/unckeck that to see on pop-ups and we save the config to not ask the user everytime.

[2016-03-31 23:01] chrismattmann commented on #55
Guys this should be a config step not  a runtime step

[2016-03-31 23:03] chrismattmann commented on #55
In other words it should be hidden from the casual user and only be an admin step or infrequent step seeded with sensible defaults

[2016-04-01 06:53] AravindRam opened #60 "Unable to view indexed data on the map"
Hi @smadha ,

I tried to geoparse using a sample index containing 6 documents. The following is the screenshot which shows the index having 6 documents. The core which I have created is new_core and Solr 4.10 is running on port number 8984.

![screen shot 2016-03-31 at 11 39 22 pm](https://cloud.githubusercontent.com/assets/3191529/14199607/bf0305aa-f79a-11e5-921c-4273131f5f0b.png)

The solr index

[2016-04-01 08:27] smadha commented on #60
Hey @AravindRam
Your setup looks alright. Seems like NER wasn't able to pick locations from your index. Can I ask why do you have only Geographic_LATITUDE, Geographic_LONGITUDE, Geographic_NAME in your solr index?

Seems like you already ran geotopic parser on your data and index you are pointing stores result of geotopic parsing. Well GeoParser UI should still process your index but I think NER m

[2016-04-01 10:05] AravindRam commented on #60
Hey @smadha

We actually wanted to try and check whether the geoparser works with these fields or if it looks for some specific field names so that we'll push the correct field names while creating the actual index for the assignment.

Also, we had run it using the memex collection index which we created in the previous semester. It still gave the same error. So, I don't think the problem would be

[2016-04-01 19:33] raviraju commented on #60
Our team is also facing same issue
Though fields  are present in solr index (at port 8984) (
[solr_index_response.json.txt](https://github.com/MBoustani/GeoParser/files/200210/solr_index_response.json.txt)
)
         "Geographic_LONGITUDE": "-117.15726",
        "Geographic_NAME": "San Diego",
        "Optional_LATITUDE1": "37.25022",
        "Optional_LONGITUDE1": "-119.75126",
        "Geographi

[2016-04-01 19:46] smadha commented on #60
@AravindRam I tried your zipped core and I could get 1 location out of it.

I pushed one commit today, can you pull and try again

Thanks

[2016-04-01 20:22] smadha commented on #60
@AravindRam @raviraju Can you guys also please ensure that tika server is running fine on 8001 port and you can see proper results as mentioned in [https://wiki.apache.org/tika/GeoTopicParser](https://wiki.apache.org/tika/GeoTopicParser)

`curl -T $HOME/src/geotopicparser-utils/geotopics/polar.geot -H "Content-Disposition: attachment; filename=polar.geot" http://localhost:8001/rmeta`

This was the

[2016-04-01 20:25] raviraju commented on #60
Thanks @smadha ,
Yes Tika Server is running on port 8001
ravirajukrishna@ubuntu:~$ curl -T $HOME/src/geotopicparser-utils/geotopics/polar.geot -H "Content-Disposition: attachment; filename=polar.geot" http://localhost:8001/rmeta
[{"Content-Type":"application/geotopic","X-Parsed-By":["org.apache.tika.parser.DefaultParser","org.apache.tika.parser.geo.topic.GeoParser"],"X-TIKA:parse_time_millis":"5",

[2016-04-01 21:30] AravindRam commented on #60
@smadha

The tike server is running properly on port 8001 and I tried testing it using the curl call as well. It returns the expected output as the per the wiki link.

I tried running it again with the latest commit. The problem still seems to persist.

@raviraju  : Were you able to get over the error after running with the latest commit?

[2016-04-01 23:44] smadha commented on #60
@raviraju i can't see locations in your response.

[2016-04-02 00:14] smadha commented on #60
@AravindRam Lets connect on hangouts. Can you ping me at msharan@usc.edu?

[2016-04-02 00:15] AravindRam commented on #60
Yes sure.

[2016-04-02 00:41] smadha commented on #47
@MBoustani we should be removing OL clustering right?

[2016-04-02 01:51] AravindRam commented on #60
@smadha

The problem did not get resolved when I tried running after adding space between the fields (latest commit)

[2016-04-02 02:12] smadha commented on #60
Well I tried indexing your core and it works fine for me. You need to debug this function [https://github.com/MBoustani/GeoParser/blob/master/geoparser_app/views.py#L252](https://github.com/MBoustani/GeoParser/blob/master/geoparser_app/views.py#L252)

Can you start from scratch and share all your server logs through pastebin?

[2016-04-02 02:57] smadha commented on #60
@AravindRam as we discussed please make sure your tika server is running at 8001 and is able to extract locations.

[2016-04-02 05:03] AravindRam commented on #60
@smadha

Like you said, the problem was with the port number only. Instead, I changed the port number to 9998 in the config.txt . It was then able to extract the locations.

Thanks a lot for the help. I appreciate it :) :+1:

[2016-04-02 06:31] #60 closed

[2016-04-02 06:56] smadha commented on #57
Hi @nithinkrishna - Did it worked? Let me know if you need more details

@chrismattmann @MBoustani

[2016-04-02 08:41] aalavandhan commented on #57
Sure. I'm going to look into it tomorrow. I'll let know know if I have
questions. thank you.

Sent from my phone,
Please ignore typos if any.
On Apr 1, 2016 11:57 PM, "Madhav Sharan" notifications@github.com wrote:

[2016-04-02 22:39] rrgirish opened #63 "Map doesn't load in safari on Mac OS"
Hi,

I tried running this on safari in Mac OS and I am not seeing the map load in the background on the canvas.

It works fine on chrome.

Screenshot attached. You can see the points being displayed in the red circles. There is no map behind the dots :)

<img width="1236" alt="screen shot 2016-04-02 at 3 36 58 pm" src="https://cloud.githubusercontent.com/assets/6744183/14229447/0ce4a59a-f8e9-11e5-

[2016-04-02 22:56] smadha commented on #63
Thanks for sharing. If you can submit a PR that would be awesome.

We will fix it soon anyway :+1:

[2016-04-03 22:28] smadha opened #65 "cartodb basemaps subdomain template not working"
As per example on [https://cartodb.com/basemaps/](https://cartodb.com/basemaps/) subdomain template is `{s}` and url needs to be specified as -

`url: 'http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png'`

But as per openlayer3 docs [http://openlayers.org/en/v3.8.2/apidoc/ol.source.XYZ.html](http://openlayers.org/en/v3.8.2/apidoc/ol.source.XYZ.html)

This explain why subdomain template is n

[2016-04-03 22:29] #65 closed

[2016-04-03 22:42] smadha commented on #63
Fixed with #65

Safari was somehow not supporting subdomain with braces '{s}'

@rrgirish can you confirm this on your system?

[2016-04-03 23:57] rrgirish commented on #63
Confirmed this works now. Thanks!

Regards
Girish

[2016-04-03 23:57] #63 closed

[2016-04-04 02:46] Manas007 opened #66 "GeoParser is unable to parse geographic locations from solr index"
Below is snippet of my solr index with all required geographic details.

{"id":"/dev/com/10news/www/42FD5EBC90236148BA72BEC73D622543F282BAF46F05AED2566EE6D7D7BF2A67","Geographic_LONGITUDE":"139.75309","Optional_LONGITUDE":"-87.76142","Optional_NAME":"Mount Carmel","Geographic_LATITUDE":"35.68536","Geographic_NAME":"Japan","Optional_LATITUDE":"38.41088","_version_":1530630356532723712},

After clic

[2016-04-04 03:53] smadha commented on #66
This error is actually not causing any trouble as it comes while khooshe
generation. Which must be because there is nothing as of now to generate
points. I just now committed a change to remove these logs to avoid
confusion.

Focus on "query_crawled_index" API in logs. We can help you if you share
your full server console logs through pastebin preferably.

Also as you said your page is stuck mostl

[2016-04-04 04:04] chrismattmann commented on #57
thanks @nithinkrishna and @smadha for working on this

[2016-04-04 05:25] ManasMahanta commented on #66
I have attached the details of information you might need .I am able to index the required files with geographic measures but 'memex' is not able to locate points . Can you please tell what i should give input in domain name  & url ?? I have attached screenshot of my details . If there is any wrong in inputs you can please point out ?

[ServerLogs.pdf](https://github.com/MBoustani/GeoParser/files/

[2016-04-04 05:34] ManasMahanta commented on #66
Sorry for the damaged file . I have attached the correct ones
[ServerIndex.docx](https://github.com/MBoustani/GeoParser/files/201823/ServerIndex.docx)
[ServerLogs.docx](https://github.com/MBoustani/GeoParser/files/201824/ServerLogs.docx)

[2016-04-04 05:56] smadha commented on #66
I can't open any of your files. Can you try [pastebin.com](http://www.pastebin.com)

Before that please share results of step 5 in installation.

`curl -T /path/to/polar.geot -H "Content-Disposition: attachment; filename=polar.geot" http://localhost:8001/rmeta`

[2016-04-04 06:44] hasanayesha opened #67 "GeoParser throws the following error when run."
Hi,

I get the following error when trying to run GeoParser.
<img width="717" alt="screen shot 2016-04-03 at 11 41 29 pm" src="https://cloud.githubusercontent.com/assets/3942110/14239975/d980838c-f9f5-11e5-9d6e-fbc1528846ad.png">

 Can you please tell me what the problem is.

[2016-04-04 08:01] smadha commented on #67
Can't figure out much from these logs. Can you share full console preferably via pastebin.com?

You can also open this URL in your browser to reproduce the error -
`localhost:8000/query_crawled_index/http://localhost:8984/solr/polrsolr/test/user/pass`

Also can you please ensure that tika server is running fine on 8001 port and you can see proper results WITH GEOLOCATIONS as mentioned in [https://

[2016-04-04 08:08] hasanayesha commented on #67
I can see the proper results when i run tika server on port 8001.
The admin core is created when GeoParser is run the first time. But this error is thrown later on.

These are the two get requests which throw an error.
*\* 04/Apr/2016 06:50:31] "GET /return_points_khooshe/http://localhost:8984/solr/polrsolr/test HTTP/1.1" 500 13794
*\* [04/Apr/2016 08:06:14] "GET /list_of_domains/ HTTP/1.1" 500 13

[2016-04-04 19:06] MBoustani commented on #55
@antrromet, @smadha and @chrismattmann another way of showing metadata is when user click on each point on map instead of pop-ups we show a model middle of screen that shows all the Solr fields using D3 http://bl.ocks.org/mbostock/1093025

[2016-04-04 19:24] antrromet commented on #55
@MBoustani That would be cool, but here's my thought. Now when the user sees so many points plotted on the map and he just wants to browse through the points, suppose he wants to try and see what 1 point is. He clicks on it and then sees the above D3. Then he sees and realizes this point is not interesting, so he closes the model and repeats the process. The only drawback with this is that the use

[2016-04-04 23:32] aalavandhan commented on #57
@smadha @MBoustani

Correct me if I'm wrong. The function `query_crawled_index` in `views.py` extracts data from a solar index, runs the geo-topic parser on the values to identify locations and dumps it into a local solar index.
Then the visualization reads from the local solar index and then plots the map.

This seems a little round about right? I understand that the formats of various inverted i

[2016-04-04 23:54] smadha commented on #67
Well by looking at logs it seems issue is with querying solr core in
solr_admin.py.

Can you confirm if you are able to query admin core from browser -

`http://localhost:8983/solr/admin/select?q=*:*&wt=json`
- Can you try restarting your solr provided within GeoParser?
- Try printing response variable on line
  https://github.com/MBoustani/GeoParser/blob/master/geoparser_app/solr_admin.py#L28

ma

[2016-04-05 00:29] hasanayesha commented on #67
Turns out the error was in my solr core. I can run Geoparser now. Thanks!

[2016-04-05 00:29] #67 closed

[2016-04-05 01:38] smadha commented on #66
@Manas007 Is your issue resolved?

[2016-04-05 01:48] aalavandhan commented on #57
Method 2 worked. It seems like the more non-intrusive approach. I will clean up my code and try to give a PR later this week.

What are your thoughts though? on a longer term strategy for the project.

[2016-04-05 02:10] smadha commented on #57
Hi @nithinkrishna

Yep you got it correct about query_crawled_index in views.py.

Both your methods are new functionalities altogether. You are trying to bypass geoparsing step and instead assume that index already have geoparsed data. What would be best is if we can add ES queries in query_crawled_index in views.py. So it behaves in similar fashion with solr. If I take a geo example from your ES

[2016-04-05 02:14] ManasMahanta commented on #66
Yes, it is resolved .   I was not running two solr servers which are required for Memex GeoParser , got that understanding from previous posted discussions . Memex is up and running . Thanks for your immediate response . It was really helpful .

[2016-04-05 02:28] aalavandhan commented on #57
Ah got it.

Now, I understand what you expect with elastic search integration. Ideally with ES integration you want the GeoParser to,
1. Take in an  elastic-search index
2. Iterate through each of the documents
3. Run the metadata values on Tika GeoTropic to fetch the locations
4. Dump these locations in LocalSolr index
5. Then run `update_idx_details`  on that index -> which generates the tiles
6

[2016-04-05 04:40] smadha commented on #57
Perfecto!

This is the exact workflow. All of this is done all you need to do is step 2.

We need to put a check to identify a URL as solr/ES and then write code for iterating through each of the documents in ES.

You will need to modify `query_crawled_index` method. I think we might need to make `query_crawled_index` more granular as I expect data iteration in ES to be different that solr. I will

[2016-04-05 04:46] #66 closed

[2016-04-05 06:25] aalavandhan commented on #57
This is a potential issue.

Using '/solr' in the URL to distinguish between solr and elastic search
seems like a bad idea. Because ES doesn't have any prefix as such. It would
be better if we make this decision based on a user input, say a radio
button?

What do you think?

Regards,

Nithin Krishna

Linkedin https://in.linkedin.com/pub/nithin-krishna/69/809/3a9 | Github
https://github.com/nithinkr

[2016-04-05 06:56] smadha commented on #57
That's a good point. I think radio button would be the cleanest way to do it but for now if you want you can put ES code in else part of "/solr" check.

What say @chrismattmann @MBoustani ?

[2016-04-05 08:24] antrromet opened #68 "Discussion about Search functionality"
@chrismattmann @MBoustani @smadha
I've added pagination in the search results.
We will have to figure out a way as to what fields should be displayed in the search query. As of now its hardcoded to look for `title` or `dc-title`. If those are not present then `No Title` will be shown.
<img width="1280" alt="screen shot 2016-04-05 at 1 12 14 am" src="https://cloud.githubusercontent.com/assets/16515

[2016-04-05 16:13] MBoustani commented on #68
@antrromet looks great, can you put an transparent background under search result?

[2016-04-05 17:42] smadha commented on #68
@antrromet Does search function displays anything on map?

[2016-04-05 18:30] antrromet commented on #68
@smadha Not as of now. But of course we would have to add that functionality.

[2016-04-05 19:19] smadha commented on #68
:+1:
This is the initial mockup that @lawongsta prepared for all the functionalities. Things have changed a bit but it should give a good idea of workflow.

https://drive.google.com/file/d/0B8s73OrIJNwjQ3pNNXBjbm05OUU/view?usp=sharing

[2016-04-05 20:02] smadha commented on #55
One update from me - I added list of popup fields in return_points_khooshe API. I also connected it with popups. Fields can be set through below API call - `http://localhost:8000/set_idx_fields_for_popup/<index_url>/<domain>/id,title`

[2016-04-06 07:33] antrromet commented on #68
@MBoustani This is how it looks now.

<img width="1280" alt="screen shot 2016-04-06 at 12 24 50 am" src="https://cloud.githubusercontent.com/assets/1651551/14309090/f754eea8-fb8e-11e5-959d-6d21adf53060.png">

@smadha Thanks for that doc, its really useful. I've made some minor UI modifications based on that. We should discuss about how we would display the results on the map.

[2016-04-06 08:01] smadha commented on #68
Sure, I will schedule a hangout between all of us.
@MBoustani @chrismattmann

[2016-04-12 16:52] MBoustani commented on #68
@antrromet looks great. Can you send the PR for new UI changes?

[2016-04-12 17:01] MBoustani commented on #57
@nithinkrishna and @smadha is there any smart way of understanding whether user using Solr or ES?
Like any query call which is specific for Solr and ES?

[2016-04-12 19:30] smadha commented on #68
@MBoustani We are working on new branch "search" for this

[2016-04-12 20:13] antrromet commented on #68
@chrismattmann
@smadha @MBoustani and I just had a call regarding the Search functionality and we reached the following consensus.
When the user types in any keyword to search, we would search the remote Solr for the results. Then whatever results are fetched, we would check its intersection with our local Solr (this has all the docs with geolocations). And these are the results that would be show

[2016-04-12 20:19] antrromet commented on #55
@chrismattmann @MBoustani @smadha The consensus reached was that we would be displaying a popup on hover of points. That popup by default would contain some basic information like say the Title, id whatever (This would be the first 4-5 fields of the index by default). And then when the user clicks for more info on the popup we can have the D3 in a model that displays all the information with all t

[2016-04-12 20:21] antrromet opened #69 "Default view when user launches GeoParser for the first time"
We need to have some kind of a default view (a default index) thats loaded into Geoparser, so that the user sees some points on the map, the first time GeoParser is launched. This is good suggestion, because as of now it looks too blank and it would also give the user a look and feel as to how GeoParser is gonna work like.

[2016-04-12 21:10] nithinkrishna opened #70 "Automated discovery of Index type"
As per @MBoustani's suggestions.

1) The user's interaction should be limited to pasting a URL.
2) The application should implement a 'smart'  mechanism to determine the type of index.
3) Possibly make API calls to certain endpoints to determine the index type based on the response.

(eg) Making a get request to http://localhost:9200 [ Elastic search ] will return the following JSON which might be

[2016-04-12 21:10] aalavandhan commented on #57
@MBoustani @smadha  Let's move the automated discovery of ES vs Solr to [another thread](https://github.com/MBoustani/GeoParser/issues/70)

[2016-04-12 21:49] smadha commented on #69
I can take care of this. I think we should have some query parameters in URL which will connect to view index. So URL should look like `localhost:8000/viewIndex?indexPath=http://path/to/polar/index&domain=polar`

As of now it will show all the geo parsed data for uploaded files.

Thanks for creating this issue.

[2016-04-12 21:53] smadha commented on #70
For solr we can use ping api for a core

`http://localhost:8983/solr/new_core/admin/ping?wt=json`

[code]

I would still like to stick with a radio button to keep it simple, may be we can use this cool feature if user does not selects anything.

[2016-04-12 23:00] aalavandhan commented on #70
@smadha +1 for the radio button

[2016-04-17 00:47] antrromet commented on #55
As the discussion above, I've modified the popup display. By default it shows first 4 fields of the index. These can be anything. And when the user clicks on more, a D3 is displayed with all the fields. Screenshots of the same are attached. Lemme know what you guys think!
<img width="1280" alt="screen shot 2016-04-16 at 5 02 43 pm" src="https://cloud.githubusercontent.com/assets/1651551/14584440/4

[2016-04-17 08:23] smadha commented on #55
I think it looks awesome. 💃

One heads up that content of a single field could be too huge to show in popups. So we should truncate it after may be 100-200 chars. What say?

[2016-04-17 16:01] antrromet commented on #55
@smadha Yes, truncating it to around 140 chars.

[2016-04-21 12:16] #46 closed

[2016-04-21 12:17] #38 closed

[2016-04-21 13:16] #69 closed

[2016-04-21 14:29] smadha opened #71 "Index metadata along with extracted text from uploaded files"

[2016-04-21 14:31] #71 closed

[2016-04-21 14:34] smadha commented on #69
Added deep linking functionality.

We can now create deep links to view a particular index. Example below -

http://localhost:8000/?idx=http://localhost:8983/solr/core1&domain=test&v=i
1. v --view  values => {i —index , f —file , s —search}
2. idx -- index path
3. domain -- name of domain

[2016-04-29 08:36] smadha commented on #53
Fixed in https://github.com/MBoustani/GeoParser/commit/2f4aa3257dc32217add10085bfe4501c9042b11f

[2016-04-29 08:36] #53 closed

[2016-04-29 08:38] smadha commented on #52
Closing. More progress update on #55

[2016-04-29 08:38] #52 closed

[2016-04-29 08:49] smadha commented on #57
Hi @nithinkrishna - How is it going? Can we help in any way ?

[2016-05-02 21:27] MBoustani commented on #55
@antrromet seems like the modal for D3 chart does not fully scroll down. Can you fix the modal to scroll completely to the end of chart?

[2016-05-03 19:57] antrromet commented on #55
@MBoustani Can you please take an update and check? I did not face any issues while scrolling till the end. I tried in all 3 browsers: Chrome, Safari and Firefox. Attached are the screenshots for the same.

<img width="1280" alt="chrome" src="https://cloud.githubusercontent.com/assets/1651551/14996363/7b670154-112e-11e6-9946-e194bfc43405.png">
<img width="1280" alt="safari" src="https://cloud.gith

[2016-05-05 19:09] smadha opened #72 "Fixing flicker on GeoParser popups"
While switching popup content from just a link to metadata popup flickers on multiple position around bubble. It happens as when a user moves pointer around the bubble it keeps following the pointer and reloading the popup.

[2016-05-05 19:16] smadha opened #73 "Showing configured metadata, if present, on popups"
As of now first 4 metadata fields are shown which might not be very informative all the time. User will have to click on more options to see all metadata fields and get the information.

We can select some more useful fields like "URL of website" which might be helpful in investigation.

Details on configuring metadata API for an crawled index -
https://github.com/MBoustani/GeoParser/commit/022e62

[2016-05-05 21:39] #73 closed

[2016-05-05 21:45] MBoustani opened #74 "Searching capability (query original indexed data) - part 1"
Generate a function to receive below items from client side and query original index data.
- domain name
- index url
- username and password for accessing index (if necessary)
- search phrase

This function will return below items to part 2:
- domain name
- index url
- list of ids return from querying original index.

[2016-05-05 21:48] MBoustani opened #75 "Searching capability (query local Solr and create Khooshe tiles) - part 2"
Generate a function to receive below items from https://github.com/MBoustani/GeoParser/issues/74
- domain name
- index url
- list of ids return from querying original index

This function will call local Solr index with given list of ids and create Khooshe tiles from geopoints of results. The path to tiles will be sent to front-end.

[2016-05-05 21:49] MBoustani commented on #68
@antrromet we are breaking the remaining of task to new two smaller issues:
https://github.com/MBoustani/GeoParser/issues/74
https://github.com/MBoustani/GeoParser/issues/75

[2016-05-05 21:49] #68 closed

[2016-05-06 01:52] MBoustani commented on #74
https://github.com/MBoustani/GeoParser/commit/cba92029e35557cc74b058043dcf59cd56037744

[2016-05-06 01:53] MBoustani commented on #75
https://github.com/MBoustani/GeoParser/commit/0f2f77d9b02a5611cffc85990ccf5826c04aae33

[2016-05-06 06:40] #74 closed

[2016-05-06 06:42] #75 closed

[2016-05-06 06:46] smadha opened #76 "Delete tiles from search folder "geoparser_app/static/search/tiles""
We need to think of some way to clear tiles folder as currently we create new tile folder for every search. This may cause memory issues and we might not release unused memory.

[2016-05-06 06:47] smadha opened #77 "Serving cached response if results for a search response is already available."

[2016-05-06 08:27] smadha commented on #55
@antrromet How many fields are there in your solr index? Can you try with a larger number of fields like 30 may be?

[2016-05-06 22:35] aalavandhan commented on #57
@smadha Ah. I've been busy with finals. I'll have a PR ready by early next week .. We can discuss more

[2016-05-07 01:28] MBoustani commented on #77
@smadha are we separating tasks here? Python and frontend? ;)

[2016-05-07 02:46] smadha commented on #77
Sure! this and #76 can be put together and we can redefine as per our discussion on Lunch

[2016-05-09 21:39] MBoustani commented on #77
https://github.com/MBoustani/GeoParser/commit/5fbfa3718aacfdfc5c4a2a73624aa17b2585613d
and
https://github.com/MBoustani/GeoParser/commit/8cf3db1e68d4b7112c68ba37cd57b204074404d6

[2016-05-09 22:21] MBoustani commented on #76
https://github.com/MBoustani/GeoParser/commit/d559370eed6fdf149005c0cbbbbd6510fd47cdd1
and
https://github.com/MBoustani/GeoParser/commit/f264b3f3c7c24911efb7d0cb1b5e3f3c261869ec
In case of removing search folders you can pass:
tiles_path = geoparser_app/static/search/tiles/
Example: http://127.0.0.1:8000/remove_khooshe_tile/geoparser_app/static/search/tiles/<folder name>

[2016-05-10 18:43] smadha commented on #77
@MBoustani : I will do the front end
We will need few more API's in views.py-
1. get list of saved searches.
2. get khooshe tile path for given saved search. (same as response for search_crawled_index)

[2016-05-10 18:51] smadha opened #78 "Store encrypted username password of an index in solr admin"

[2016-05-10 18:52] smadha opened #79 "Create a configuration tab for adding indexed cores"
1. Divide "GeoParse" into two steps "Add" and "GeoParse"
2. "Add" will create a structure on back end
3. "GeoParse" can come on side of "View" button for added domain and indexes

Benefits -

1. Segregates core config to technical users
2. Helps in re running the process if anything goes wrong in between
3. Saves time by not re entering details in search box

Relates to https://github.com/MBoustan

[2016-05-10 20:42] smadha opened #80 "Delete indexed path from GeoParser"

[2016-05-10 20:42] #80 closed

[2016-05-10 20:50] MBoustani commented on #77
@smadha
1- You can get the list of searches (same as list of tiles folder return from "list_of_searched_tiles" function)
2- Khooshe tiles path for given search would be = geoparser_app/static/search/tiles/ + [search_keyword]

[2016-05-10 21:55] MBoustani commented on #78
@smadha are we going to encrypt the username and password on front end and pass to backend, or encode in python side before store in Solr?
I think encoding in front end using JavaScript would be better option.

[2016-05-10 22:02] smadha commented on #78
hmm.. I think we should encrypt/decrypt on server side. We should create a secret key and store it on our server.

What say? @MBoustani

[2016-05-10 22:09] smadha commented on #77
@MBoustani Just the tile path wont do. It requires full response like from "search_crawled_index"

[2016-05-10 22:13] smadha commented on #77
something like this - [{'rows_processed': 7207971, 'points_count': 20084026, 'total_docs': 7208416, 'khooshe_tile': 'static/tiles/search/keyword', 'popup_fields': 'url,title'}]

[2016-05-10 22:48] MBoustani commented on #78
Yeah seems like is better to encrypt/decrypt on server side.
https://www.stackfield.com/blog/cloud-encryption---client-side-vs-server-side-1

https://github.com/andrewcooke/simple-crypt

[2016-05-12 16:58] MBoustani opened #81 "Create a link from pop-ups to FacetView"
Create a configuration to set the link for pop-up.
For example be able to link each point to faceview item.

http://imagecat.dyndns.org/weapons/facetview/ads/.....

[2016-05-19 21:11] MBoustani commented on #81
@chrismattmann Can you help me find a connection between Solr endpoint and FacetView url?

Here is one point Solr end point:
http://imagecat.dyndns.org/solr/imagecatdev/select?q=id:%22file:/data2/USCWeaponsStatsGathering/nutch/full_dump/org/wikipedia/en/BB34BBE4049E150C3B60445CDDC0E3BC30235883A4668DAE9AB99DF306E16604%22&wt=json&indent=true

What URL would be for FacetView?

[2016-05-20 03:46] chrismattmann commented on #81
@khundman can you help

[2016-05-22 17:53] khundman commented on #81
@MBoustani @chrismattmann Sorry for the delay. Mazi, this would be the facetview url:
http://imagecat.dyndns.org/weapons/facetview/ads/index.html?query=id:%22file:/data2/USCWeaponsStatsGathering/nutch/full_dump/org/wikipedia/en/BB34BBE4049E150C3B60445CDDC0E3BC30235883A4668DAE9AB99DF306E16604%22&wt=json&indent=true

[2016-05-23 18:36] #81 closed

[2016-05-24 09:18] smadha commented on #79
![screen shot 2016-05-24 at 02 14 56](https://cloud.githubusercontent.com/assets/14187172/15498791/d8842402-2155-11e6-9b9a-a1e537e67d6e.png)
![screen shot 2016-05-24 at 02 14 48](https://cloud.githubusercontent.com/assets/14187172/15498792/d889d3a2-2155-11e6-93a4-2e203d618c74.png)

[2016-05-24 09:18] #79 closed

[2016-05-25 05:08] smadha commented on #78
@MBoustani simple-crypt was very slow. I ended up using https://github.com/google/keyczar it's also recomended by simple-crypt

@chrismattmann

[2016-05-25 05:09] smadha commented on #79
![screen shot 2016-05-24 at 22 08 33](https://cloud.githubusercontent.com/assets/14187172/15528785/287b1316-21fc-11e6-8f8e-96ebf2e8f8bf.png)

removed username and password field from search index

[2016-05-25 05:15] #78 closed

[2016-05-25 05:19] smadha opened #82 "Use stored username and password while querying index from frontend"
For filling popup data we query index from frontend.

Index might require username and password for access.

username and password is stored in admin core which can be used to query index from frontend as we do it from backend.

as of now a popup comes on screen per session, asking user for entering username and password

[2016-05-25 06:36] smadha commented on #82
@chrismattmann apart from this use case geoparser will use stored username and password for querying index

[2016-05-25 18:42] MBoustani commented on #54
@smadha I am currently working on using Docker.

[2016-05-25 22:25] smadha commented on #54
What will be our approach for installing tika and lucene-geo-gazetteer? Are we committing jar files into repo or will we be downloading them from mirror while installing?

I think we should also look for integrating geotopic parser with tika-python. Like not through a separate instance of tika-server (like we do now), but forming a separate object of tika-python which can directly parse using geot

[2016-05-25 23:34] chrismattmann commented on #54
Use pip for Tika and use maven for lgg

[2016-05-26 05:42] MBoustani commented on #54
@smadha @chrismattmann I have both these steps along with other steps in Dockerfile, still testing and would be out soon.

[2016-05-26 05:50] smadha commented on #54
@chrismattmann I was suggesting to use tika python with location-ner-model , geotopic-mime in tika-server classpath.

[2016-05-26 18:30] MBoustani commented on #54
@chrismattmann @smadha
Here is my dockefile content, all steps go fine except last line I'm getting the error

[code]

Error:

[code]

[2016-06-07 17:38] MBoustani commented on #54
https://github.com/memex-explorer/GeoParser/commit/39189c783649b130c862e02d3d59e95a44ef4eca

[2016-06-07 18:09] MBoustani commented on #54
@smadha @chrismattmann @AravindRam

Can you please try docker installation (instruction in Readme) and let me know if there is any issue?

[2016-06-08 02:45] AravindRam commented on #54
Hey @MBoustani

I tried the installation through docker and worked fine. Apart from few warnings, did not face any issues during the steps of installation.

[2016-06-09 17:38] #54 closed

[2016-06-09 20:08] #10 closed

[2016-06-10 07:23] AravindRam opened #84 "Overcome maven-enforcer-plugin issue while installing manually"
Hey @smadha @MBoustani

I had come across this error last time when I installed GeoParser and even now. While trying to build the lucene-geo-gazetteer using the command "mvn install assembly:assembly", the build fails and it throws an error saying missing maven-enforcer-plugin. So, I included the following in pom.xml present inside lucene-geo-gazetteer cloned repo and commented out the plugin whic

[2016-06-10 07:24] #84 closed

[2016-06-10 17:24] smadha commented on #84
This does not seems like an issue with pom but with your maven
configuration. We use enforcer to make contributors use java 7 for
 lucene-geo-gazetteer. It will build with jdk 8 as well but the idea was
not to mandate java 8.

Did you installed enforcer plugin separately? I think it should work
automatically.

Also, Can you ensure your java version is 7 ?

## Thanks!

Madhav Sharan

[2016-06-11 08:58] AravindRam commented on #84
@smadha

No I did not install the enforcer plugin separately. I just replaced it with the plugin I have shared above. I don't think the issue is with the jdk since my java version is 8 only. Any other reason why this failed?

Thanks

[2016-06-11 09:55] smadha commented on #84
Java version should be 7 not 8. That must be the error you see. As I said
before we used enforcer to make contributors use java 7 for
 lucene-geo-gazetteer. It will build with jdk 8 as well but the idea was to
not mandate java 8.

I have a cleaner solution to it but for now use java 7

[2016-06-21 23:34] MBoustani commented on #33
@smadha are we facing this issue anymore, or it got fixed by adding "-T" ?

[2016-06-21 23:34] #34 closed

[2016-06-21 23:35] MBoustani commented on #39
https://github.com/memex-explorer/GeoParser/commit/c2514d6fea066af16b641e030629080ed7a1ee96

[2016-06-21 23:35] #39 closed

[2016-06-22 07:02] smadha commented on #33
@MBoustani I believe this should be fixed now. I was not able to use "-T" option through Tika server but I simplified text before passing it to Tika and I didn't saw this problem again.

I am closing it for now, if issue reoccurs we can open it and investigate

[2016-06-22 07:02] #33 closed

[2017-03-01 19:07] cengel opened #85 "Docker: Could not find or load main class org.apache.tika.server.TikaServerCli"
__Error:__
`$ docker-compose up`
`Starting docker_web_1`
`Attaching to docker_web_1`
`web_1  | Error: Could not find or load main class org.apache.tika.server.TikaServerCli`
`docker_web_1 exited with code 1`

__Reason:__
Dockerfile (line 42) clones snapshot from tika github:
`RUN git clone https://github.com/apache/tika.git /home/Tika`
The current version is 1.15 (not 1.14)

__Workaround:__
Edit t

[2017-03-01 19:39] smadha commented on #85
Thanks a lot for reporting this @cengel !

I think we can add a line in DockerFile to move to tika 1.14 release and everything else should work as before.

[code]

I added `RUN git checkout tags/1.14-rc1`

What do you think? Can you raise a PR?

[2017-03-01 19:42] smadha commented on #85
We will also need to remove `-SNAPSHOT` from tika command as `1.14` is now a release version
[code]

[2017-03-02 19:24] MBoustani commented on #85
@smadha I think the idea you proposed might be a better solution to git clone Tika 1.14 branch.

[2020-04-26 21:27] #55 closed

[2020-04-26 21:27] #47 closed

[2020-04-26 21:27] #51 closed

[2020-04-26 21:28] #57 closed

[2020-04-26 21:29] #70 closed

[2020-04-26 21:29] #72 closed

[2020-04-26 21:29] #76 closed

[2020-04-26 21:29] #77 closed

[2020-04-26 21:29] #82 closed

[2020-04-26 21:30] chrismattmann commented on #85
this  is  fixed in the latest Docker.

[2020-04-26 21:30] #85 closed

[2021-04-22 02:42] carlshi12r44 opened #88 "Docker Install failed with Maven enforce rule"
Hi there, I am trying to install GeoParser using Docker. But it failed with `Rule 1: org.apache.maven.plugins.enforcer.RequireMavenVersion failed with message:
Detected Maven Version: 3.3.9 is not in the allowed range 3.5.` I am wondering where can I find the `pom.xml` file to change the `enforcer plugin` version? Thanks

[2021-04-22 21:49] #88 closed